# MATLAB temporary files
*.asv

# Excel temporary files
~$*.xls*

# Excel backup files
*.xlk

# LaTex temporary files
*.aux
*.log
*.spl
*.synctex.gz

# R history files
*.Rhistory

# Notebook checkpoints
main/.ipynb_checkpoints/
